body{
    color: white;
}
.container{
    column-gap: 2em;
    row-gap: 2em;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.1);
    padding: 20px 28px;
    text-align: center;
    column-gap: 2em;
    border-right: 12px black solid;
    border-bottom: 8px black solid;
}
button{
    background-color: transparent;
    color: white;
    border: none;
}
.col:hover{
    background-color: rgba(250, 250, 250, 0.3);
    padding: 20px 35px;
    font-size: larger;
}

